.Logo {
    font-size: xx-large;
    color: darkblue;
    inline-size: min-content;
    text-decoration: none;
    padding: 5% 5% 5% 5%;
}

.BaseContainer {
    background-color: azure;
    height: max-content;
}

div {
    border:solid black 1px;
    margin: 2px;
}

